<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank - Loans</title>

    <link rel="shortcut icon" href="./pics/banco.png" type="image/x-icon">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&amp;display=swap">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./styles/loan.css">
</head>

<body id="body-loan">
    <main id="app">

        <nav class="sidebar close">
            <header>
                <div class="image-text">
                    <span class="image">
                        <img src="./pics/cloud_bank_1.png"
                            alt="">
                    </span>

                    <div class="text logo-text">
                        <span class="name">CloudBank</span>
                        <span class="profession">Accounts</span>
                    </div>
                </div>

                <i class='bx bx-chevron-right toggle'></i>
            </header>

            <div class="menu-bar">
                <div class="menu">

                    <li class="search-box">
                        <i class='bx bx-search icon'></i>
                        <input type="text" placeholder="Search...">
                    </li>

                    <ul class="menu-links">
                        <li class="nav-link">
                            <a href="./accounts.html">
                                <i class='bx bxs-user-account'></i>
                                <span class="text nav-text">Accounts</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a href="./cards.html">
                                <i class='bx bx-credit-card'></i>
                                <span class="text nav-text">Cards</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a href="./staff.html">
                                <i class='bx bx-user'></i>
                                <span class="text nav-text">Staff</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a href="./transfers.html">
                                <i class='bx bx-transfer'></i>
                                <span class="text nav-text">Transfers</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a href="./loan-application.html">
                                <i class='bx bx-money-withdraw'></i>
                                <span class="text nav-text">New Loan</span>
                            </a>
                        </li>

                    </ul>
                </div>

                <div class="bottom-content">
                    <li class="">
                        <a v-on:click="logOut">
                            <i class='bx bx-log-out icon'></i>
                            <span class="text nav-text">Logout</span>
                        </a>
                    </li>

                    <li class="mode">
                        <div class="sun-moon">
                            <i class='bx bx-moon icon moon'></i>
                            <i class='bx bx-sun icon sun'></i>
                        </div>
                        <span class="mode-text text">Dark mode</span>

                        <div class="toggle-switch">
                            <span class="switch"></span>
                        </div>
                    </li>

                </div>
            </div>

        </nav>

        <!-- v-show="NO MOSTRARLE EL PRESTAMO QUE YA TENGA" -->

        <section>
            <div class="bodyForm d-flex flex-column justify-content-center">
                <!-- @submit.prevent="submit" -->
                <form class="vue-form" @submit.prevent="submit">

                    <fieldset>
                        <legend>Loan Apply</legend>
                        <div>
                            <select class="custom-select" id="inputGroupSelect01" v-model="loanType">
                                <option disabled selected>Select Your Type Loan:</option>
                                <option v-for="loan in loansAPI" :value="loan" v-show="client.loans.id != loan.id">
                                    {{loan.name}}</option>
                            </select>
                        </div>
                        <div>
                            <select class="custom-select" v-model="loanPayments" v-cloak>
                                <option v-for="loanPay in loanType.loanList">{{loanPay}}</option>
                            </select>

                        </div>
                        <div>
                            <h4>Request Amount:</h4>
                            <label for="numberLoan" v-cloak>
                                Max Available: {{loanType.maxAmount}}
                                <input type="number" name="numberLoan" id="numberLoan" v-model="loanAmount"
                                    @change="() => { if(loanAmount > loanType.maxAmount || loanAmount < 0) { this.loanAmount = 0 }}">
                            </label>
                        </div>

                        <div>
                            <select class="custom-select" v-model="loanAccount">
                                <option disabled selected>Select Your Account:</option>
                                <option v-for="account in accounts" :value="account">{{account.number}}</option>
                            </select>
                        </div>

                        <p v-show="loanType && loanPayments > 0 && loanAmount > 0">You Pay: ${{loanAmount +
                            (loanAmount* (loanType.percent * 0.01))}}</p>
                        <p v-show="loanType && loanPayments > 0 && loanAmount > 0">Per Month: ${{(loanAmount +
                            (loanAmount*(loanType.percent * 0.01))) / loanPayments}}</p>
                        <div>
                            <input type="submit" value="Apply Loan" @click="createPreLoan">
                        </div>
                    </fieldset>
                </form>
            </div>

            <footer class="footer-section mt-5">
                <div class="container">
                    <div class="footer-cta pt-5 pb-5">
                        <div class="row">
                            <div class="col-xl-4 col-md-4 mb-30">
                                <div class="single-cta">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <div class="cta-text">
                                        <h4>Find us</h4>
                                        <span>P. Sherman calle Wallaby 42, Sidney</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 mb-30">
                                <div class="single-cta">
                                    <i class="fas fa-phone"></i>
                                    <div class="cta-text">
                                        <h4>Call us</h4>
                                        <span>911-0303456</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 mb-30">
                                <div class="single-cta">
                                    <i class="far fa-envelope-open"></i>
                                    <div class="cta-text">
                                        <h4>Mail us</h4>
                                        <span>findingnemo@gmail.com</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-content pt-5 pb-5">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 mb-50">
                                <div class="footer-widget">
                                    <div class="footer-logo">
                                        <a href="./index.html"><img src="https://i.ibb.co/QDy827D/ak-logo.png"
                                                class="img-fluid" alt="logo"></a>
                                    </div>
                                    <div class="footer-text">
                                        <p>
                                            Carry out your usual operations without coming to the Bank or approaching an
                                            ATM. Operate online 24 hours a day.</p>
                                    </div>
                                    <div class="footer-social-icon">
                                        <span>Follow us</span>
                                        <a href="https://www.facebook.com/MindHubLa/" target="_blank"><i
                                                class="fab fa-facebook-f facebook-bg"></i></a>
                                        <a href="https://twitter.com/MejoresTwits" target="_blank"><i
                                                class="fab fa-twitter twitter-bg"></i></a>
                                        <a href="https://mindhubweb.com/" target="_blank"><i
                                                class="fab fa-google-plus-g google-bg"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                                <div class="footer-widget">
                                    <div class="footer-widget-heading">
                                        <h3>Useful Links</h3>
                                    </div>
                                    <ul>
                                        <li><a href="./index.html">Home</a></li>
                                        <li><a href="#">about</a></li>
                                        <li><a href="#">services</a></li>
                                        <li><a href="#">portfolio</a></li>
                                        <li><a href="#">Contact</a></li>
                                        <li><a href="#">About us</a></li>
                                        <li><a href="#">Our Services</a></li>
                                        <li><a href="#">Expert Team</a></li>
                                        <li><a href="#">Contact us</a></li>
                                        <li><a href="#">Latest News</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                                <div class="footer-widget">
                                    <div class="footer-widget-heading">
                                        <h3>Subscribe</h3>
                                    </div>
                                    <div class="footer-text mb-25">
                                        <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                                    </div>
                                    <div class="subscribe-form">
                                        <form action="#">
                                            <input type="text" placeholder="Email Address">
                                            <button><i class="fab fa-telegram-plane"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyright-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                                <div class="copyright-text">
                                    <p>Copyright &copy; 2022, All Right Reserved <a
                                            href="https://codepen.io/anupkumar92/">Anup</a></p>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                                <div class="footer-menu">
                                    <ul>
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">Terms</a></li>
                                        <li><a href="#">Privacy</a></li>
                                        <li><a href="#">Policy</a></li>
                                        <li><a href="#">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </section>
    </main>

    <!-- SWEET ALERT -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- AXIOS -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- VUE -->
    <script src="https://unpkg.com/vue@3"></script>
    <!-- BOOTSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- JQUERY -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->

    <!-- SCRIPT JS -->
    <script src="./scripts/loan-application.js"></script>
</body>

</html>